
body{
  transition: background 1s ease;
}

.bi-brightness-high{
  display: none;
  cursor: pointer;
}

.bi-moon-fill{
  cursor: pointer;
}

.btn:hover{
  background: none !important;
  color: #747d84 !important;
}

.newText{
  width: auto;
}

.new-text{
  width: 100%;
  word-break: break-all;
}


@keyframes escalaTexto{
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0.25);
  }
  50% {
    transform: scale(0.50);
  }
  75% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}

.validationText, .validationNumber{
  font-size: 0.8rem;
  animation-name: escalaTexto;
  animation-duration: 7s;
}

.borderValidation{
  border: solid 1.3px #dc3545 !important;
  border-radius: 5px;
}
